
@media  screen and (max-width:1100px) {
    .border{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: .5rem;
        width: 100%;
    }
    
    .top{
        justify-content: center;
        background-position: center;
    }
    h1{
        font-size: 1.5rem;
        font-size: clamp(21px,2.4vw,28px);
    }
    .title{
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    h2{
        font-size: clamp(16px,2.0vw,24px);
    }
    .fl{
        flex-wrap: wrap;
    }
    /*---------------------------------------*/
    .top{
        background-size: cover;
    }
    .top_left > img{
        max-height: 240px;
        width: 100%;
        object-fit: cover;
    }
    /*------------------ユメイトとは--------------------*/
    .about{
        display: flex;
        flex-wrap: wrap;
    }

    .about2{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .about2 img{
        object-fit: cover;
        max-width: 550px;
        width: 100%;
        
    }
    .about2 > h2{
        display: block;
    }
    .about3{
        max-width: 550px;
        margin-right: 0;
    }
    .about3 h2{
        display: none;
    }
    .about2 span{
        font-size: 1.5rem;
    }
    /*--------------------参加者の声--------------------*/
    .comments{
        display: flex;
        flex-wrap: wrap;
    }
    /*--------------------3つのポイント--------------------*/
    .forte{
        display: flex;
        flex-wrap: wrap;
    }
    .text p{
        display: none;
    }
    .f1 > p, .f2 > p, .f3 > p{
        display: block;
    }
    .f1 img, .f3 img{
        margin-right: 0;
        box-shadow: none;
        max-width: 340px;
        width: 100%;
        object-fit: cover;
    }
    .f2 img{
        margin-left: 0;
        box-shadow: none;
        max-width: 340px;
        width: 100%;
        object-fit: cover;
    }
    .text span{
        font-size: 1.5rem;
    }
    /*--------------------コンテンツ---------------------*/
    .cc h2{
        font-size: 1.25rem;
        padding-left: .5rem;
    }
    .contents h3{
        margin: 0;
    }
    .dc{
        margin: 0;
    }
    .wc{
        margin-bottom: 0;
    }
    .contents{
        display: flex;
        flex-wrap: wrap;
    }
    .ccc{
        text-align: left;
        font-size: 13px;
    }
    /*--------------------よくある質問---------------------*/
    .qa span{
        translate: -10px -10px;
    }
    .questions{
        display: flex;
        flex-wrap: wrap;
    }
    .q1, .q2, .q3{
        font-size: clamp(0.975rem,1.7vw,1.2rem);
        text-align: center;
        max-width: 450px;
        line-height: 2.4rem;
        margin-left: 0;
        padding-right: 2rem;
    }
    .ans{
        font-size: clamp(14px,1.5vw,16px);
        max-width: 100%;
        margin-left: 0;
    }
    /*-------------------------------------------*/
    .cost{
        display: flex;
        flex-wrap: wrap;
    }
    .cost1 img, .cost2 img{
        max-width: 100%;
        max-height: 268px;
        object-fit: cover;
    }
    .const1{
        margin-top: 2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .cost2{
        margin-left: 0;
        margin-top: 2rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .entry p{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .btn-i img{
        max-height: 62px;
        max-width: 100%;
        object-fit: cover;
    }
}
